<!DOCTYPE html>
<html>
<body bgcolor="yellow">
<center>
<h2>Customer will Purchase or not  Prediction</h2>
<form action="/result" method="POST">
  <label >Fresh:</label><br>
  <input type="text"  name="Fresh" ><br><br>
  <label >Milk:</label><br>
  <input type="text"  name="Milk"><br><br>
  <label >Grocery:</label><br>
  <input type="text"  name="Grocery"><br><br>
  <label >Frozen:</label><br>
  <input type="text"  name="Frozen"><br><br>
  <label >Detergents_Paper:</label><br>
  <input type="text"  name="Detergents_Paper"><br><br>
   <label >Delicassen:</label><br>
  <input type="text"  name="Delicassen"><br><br>
  <input type="submit" value="Predict">
</form> 
</center>
</body>
</html>
